body{
    font-family: Lato, Arial, sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
}
body a, body a:hover {
    color: #000;
    text-decoration: none;
}
body a:hover {
    color: grey !important;
}
.container {
    margin-top: 50px;
}
.navigation a{
    color: black;
    margin-right:25px;

}
.navigation .active {
    color: grey;
}
h1 {
    font-size: 22px;
    font-weight: normal;
}
.navigation h1{
    text-align: right;
}
h2, h3{
    font-weight: normal;
}
img{
    margin:auto;
}
.section_header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section_header h2 {
    line-height: 40px;
    font-size: 21px;
}
.section_header hr {
    margin-top:28px;
	border-top: 1px solid #BEC0C3;
	border-bottom: 2px solid white;
}
.artists {
    margin-top: 20px    ;
}
.artists .row {
    margin-top: 20px;
}
.artists .well {
    height: 300px;
}
.well .span3 {
    margin-left: 18px;
}

.thumbnail {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.thumbnail .caption{
    color: #000000;
}
.thumbnails li{
    display: inline-block;
}
.thumbnail h3{
    font-size: 18px;
}
.caption p{
    text-align: center;
}
.caption h3{
    text-align: center;
}

.artists h4{
    margin-bottom: 40px;
}

.img-container{
    text-align: center;
    height: 252px;
    line-height: 252px;
}
.img-container img{
    margin: auto;
    padding-top: 12px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.tab-content{
    overflow: visible;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus{
    /*This is the backgound colour of the navigation pills on the individual artist page (works, biography) */
    background-color: #eee;
    color: black !important;
}

#bio{
    line-height: 115%;
}

p.artwork-title{
    color: #808080;
    font-size: 15px;
}

.footer p{
    width: 100%;
}

.newsletter .box{
    margin-left:20px;
}
.newsletter h3{
    font-size: 18px;
}

span.date{
    margin-left: 10px;
    color: #808080;
    font-size: 70%;
}
.mb10{
    margin-bottom: 10px;
}

.news img{
    display: block;
    margin: auto;
}

.news .thumbnail{
    min-height: 280px;
}

.align-right{
    text-align: right;
}

.footer img{
    height: 18px;
    margin-top: -3px;
}